<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287291202399-vuq652k1thdpier1ege5jk4utjbprrp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287291202399-vuq652k1thdpier1ege5jk4utjbprrp3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUnWKj7hVYEZ4Yp0gSmjHzAL5uFx9NwJE</string>
	<key>GCM_SENDER_ID</key>
	<string>287291202399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aero.buraq.booking</string>
	<key>PROJECT_ID</key>
	<string>vmba-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>vmba-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287291202399:ios:35eb200057fa3d0e6a74ea</string>
</dict>
</plist>